<p-table [columns]="middleColumns" [value]="(employeesRows$ | async) ?? []" [scrollable]="true" [loading]="loading">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th i18n pFrozenColumn style="min-width: 160px">Empleado</th>
      <th *ngFor="let col of columns" style="min-width: 90px">
        {{ col.header }}
      </th>
      <th i18n pFrozenColumn alignFrozen="right" style="min-width: 150px">Total mensual</th>
      <th i18n pFrozenColumn alignFrozen="right" style="min-width: 60px"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row let-columns="columns">
    <tr [routerLink]="'employee/' + row.employee.id">
      <td pFrozenColumn style="min-width: 160px">{{ row.employee.name }} {{ row.employee.lastName }}</td>
      <td *ngFor="let col of columns" [class.incomplete]="isIncomplete(row, col.field)">
        {{ getHourCellContent(row, col.field) }}
      </td>
      <td pFrozenColumn alignFrozen="right" style="min-width: 150px; text-align: center">
        <strong>{{ row.months[filters.month.getMonth()] ? row.months[filters.month.getMonth()] + ' h' : '-' }}</strong>
      </td>
      <td pFrozenColumn alignFrozen="right" style="min-width: 60px">
        <i class="pi pi-eye" style="color: black; cursor: pointer" [routerLink]="'employee/' + row.employee.id"></i>
      </td>
    </tr>
  </ng-template>
</p-table>
